<cparts-navbar></cparts-navbar>

<div class="container">                                            		
	<div class="page-header">
		<h1>View Transactions</h1>        			
	</div>

	<form class="form-inline">
		<div class="form-group">
        	<label for="sear" >Search:</label>	         				
			<input type="text" id="sear" ng-model="query" />																							
		</div>
		<div class="form-group">
        	<label for="sel" >Order By:</label>			
        	<select id="sel" ng-model="orderProp">		
            	<option value="itemNo">Item No.</option>
				<option value="transactionType">Transaction Type</option>								
			</select>	
		</div>
						
	</form>	

	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Item No.</th>
				<th>Description</th>
				<th>Transaction UOM</th>
				<th>Transaction Type</th>
				<th>Transaction Date</th>
				<th>Transaction Qty</th>				
			</tr>
			
			<tr ng-repeat="tran in transactions | filter : filterModel | orderBy: orderProp">
				<td>{{tran.transactionItemNo}}</td>	
				<td>{{itemDesc()}}</td>	
				<td>uom</td>	
				<td>{{tran.transactionType}}</td>
				<td>{{tran.transactionDate | date: "dd/MM/yyyy"}}</td>	
				<td>{{tran.transactionQty}}</td>
			</tr> <!-- end ng-repeat.. -->	
		</table>
	</div> <!-- end div class="table-responsive" -->
</div>   
