<!--New purchase order 
	 we have 3 roles: buyer, storeKeeper, wip 
	 only buyer can navigate to new purchase order	
 -->
<cparts-navbar></cparts-navbar>
<div class="container">
	<div class="page-header">                                            
		<h1>New Purchase Order</h1>   		
		<!--
		<h2>Purchase Order No: {{order.orderNo}} </h2>   			
		-->
	</div>

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<form class="form-horizontal">
			
			<div class="form-group"	>
				<label class="control-label col-sm-2" for="itemno">Item No:</label>
				<div class="col-sm-10">
					<select id="itemno" ng-model="selectedItem" ng-change="itemSelected()">
						<option ng-repeat="item in items" value="{{item.itemNo}}">{{item.itemNo}}</option>
					</select>
				</div>
			</div>						
		</form>
	</div>
</div>

<div class="container">
	<div class="alert alert-success" ng-show="validationUpdate">
		<strong>Success!</strong>
		{{message}}
	  </div>		

	<div class="alert alert-danger" ng-show="validationError">
		  <strong>Error!</strong>
		  {{errorMessage}}
	</div>
</div>

