<!-- display po details 
	 we have 3 roles: buyer, storeKeeper, wip 
	 only buyer can navigate to po details and update/delete	
 -->
<cparts-navbar></cparts-navbar>
<div class="container">
	<div class="page-header">                                            
		<h1>Purchase Order Details</h1>   		
		<h2>Purchase Order No: {{order.orderNo}} </h2>   			
	</div>

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="itemno">Item No:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="itemno" placeholder="Enter Item No." ng-model="order.orderItemNo" disabled>
					</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="desc">Description:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="desc" ng-model="selectedItemDesc" disabled>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="uom">UOM:</label>
					<div class="col-sm-5">
							<input type="text" class="form-control" id="uom" ng-model="selectedItemUom" disabled>	
					</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="orderqty">Order Qty:</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" id="orderqty" placeholder="Enter Order Quantity" ng-model="order.orderQty" required>
				</div>
			</div>
	
			<div class="form-group">
				<label class="control-label col-sm-2" for="issueqty">Issue Qty:</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" id="issueqty" ng-model="order.issueQty" disabled> 
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="reqdate">Required Date:</label>
				<div class="col-sm-5">
					<input type="date" class="form-control" id="reqdate" placeholder="Enter Date" ng-model="order.requiredDate" required>
				</div>
			</div>
		<!--
			<div class="form-group">
				<div class="col-sm-2">
					<strong>
						Required Date:
					</strong>						
				</div>
				<div class="col-sm-5">
					{{order.requiredDate | date: "dd/MM/yyyy"}}
				</div>
			</div>
		-->
			<div class="form-group">
				<label class="control-label col-sm-2" for="sel">Order Status:</label>
				<div class="col-sm-5">
					<select class="form-control" id="sel" ng-model="order.orderStatus">		
						<option value="Created">Created</option>
						<option value="Sent to supplier">Sent to supplier</option>			
						<option value="Partially issued">Partially issued</option>			
						<option value="Closed">Closed</option>			
					</select>	
				</div>
			</div>

			<!-- buttons Cancel, Update, Delete -->  
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="pull-right">
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
						<button type="button" class="btn btn-success" ng-click="update()">Update</button>
						<button type="button" class="btn btn-danger" ng-click="remove()" >Delete</button>
					</div> <!-- end div class="pull-right" -->
				</div> <!-- end div class="col-sm-offset-2 col-sm-10" -->
			</div> <!-- end div class="form-group" -->		

		</form>
	</div> <!-- end div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"-->
		
</div>

<div class="container">
	<div class="alert alert-success" ng-show="validationUpdate">
		<strong>Success!</strong>
		{{message}}
	  </div>		

	<div class="alert alert-danger" ng-show="validationError">
		  <strong>Error!</strong>
		  {{errorMessage}}
	</div>
</div>

