<!--display catalog data  
	we have 3 roles: buyer, storekeeper, wip 
	for roles: buyer,storekeeper can navigate item details after click on row 
-->
<cparts-navbar></cparts-navbar>
<div class="container">
	<div class="page-header">
		<h1>Catalog</h1>   		
	</div>

	
	<form class="form-inline">
		<div class="form-group">
        	<label for="sear" >Search:</label>	         				
			<input type="text" id="sear" ng-model="query" />																							
		</div>
			
		<div class="form-group">
        	<label for="sel" >Order By:</label>			
        	<select id="sel" ng-model="orderProp">		
            	<option value="itemNo">Item No.</option>
				<option value="itemDesc">Item Desc</option>			
				<option value="itemLocation">Item Location</option>			
        	</select>					
		</div>		
	</form>	

	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Item No.</th>
				<th>Description</th>
				<th>UOM</th>
				<th>Min. Qty</th>
				<th>Max. Qty</th>
				<th>Location</th>
			</tr>
			
			<tr ng-repeat="item in items | filter : filterModel | orderBy: orderProp" ng-click="openItem($index)">
				<td>{{item.itemNo}}</td>
				<td>{{item.itemDesc}}</td>            
				<td>{{item.itemUom}}</td> 
				<td>{{item.itemMinQty}}</td> 
				<td>{{item.itemMaxQty}}</td> 
				<td>{{item.itemLocation}}</td> 
			</tr> <!-- end ng-repeat.. -->	
		</table>
	</div> <!-- end div class="table-responsive" -->
</div> <!-- end div class="container" -->