<cparts-navbar></cparts-navbar>

<div class="container">                                            		
	<div class="page-header">
		<h1>Issue Transaction</h1>    					    			
	</div>

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<form class="form-horizontal">
			
			<div class="form-group"	>
				<label class="control-label col-sm-2" for="itemno">Item No:</label>
				<div class="col-sm-10">
					<select id="itemno" ng-model="selectedItem" ng-change="itemSelected()">
						<option ng-repeat="item in items" value="{{item.itemNo}}">{{item.itemNo}}</option>
					</select>
				</div>
			</div>						

			<div class="form-group">
				<label class="control-label col-sm-2" for="desc">Description:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="desc" ng-model="selectedItemDesc" disabled>
					</div>
			</div>
		
			<div class="form-group">
					<label class="control-label col-sm-2" for="uom">UOM:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="uom" ng-model="selectedItemUom" disabled>							
					</div>
			</div>
		
			<div class="form-group">
				<label class="control-label col-sm-2" for="qty">Transaction Qty:</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" id="qty" placeholder="Enter Quantity" ng-model="transaction.transactionQty" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="date">Transaction Date:</label>
				<div class="col-sm-5">
					<input type="date" class="form-control" id="date" placeholder="Enter Date" ng-model="transaction.transactionDate" required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
					<div class="pull-right">
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
						<button type="submit" class="btn btn-success" ng-click="create()">Create</button>                        
					</div>
				</div>
			</div>

		</form>
	</div> <!-- end div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 -->
</div>   

<div class="container">
	<div class="alert alert-success" ng-show="validationCreate">
		<strong>Success!</strong>
		{{message}}
	</div>	    
		
	<div class="alert alert-danger" ng-show="validationError">
		<strong>Error!</strong>
		{{errorMessage}}
	</div>
</div>
